/* font styles */

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     font-family: "Azeret Mono", monospace;
}

/* header section styles */


/* navbar styles */
.introduction-container{
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 36px 150px;
    background: #FFF;
}

.introduction-container h3{
    color: #0D1321;
    font-size: 28px;
    font-weight: 800;
}

.introduction-container .resume-btn{
    display: inline-block;
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    text-decoration: none;
    border: 2px solid #0D1321;
    opacity: 0.8;
    padding: 17px 24px;
    background: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.introduction-container .resume-btn:hover{
    background-color: #0D1321;
    color: #FFF;
    transform: scale(1.03); 
}

/* banner styles */

.banner-container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto 74px;
    height: 652px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 26px 221px 45px;
    background: url('../assets/images/Hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-container .banner-img{
    margin-bottom: 32px;
}

.banner-container h1{
    font-size: 48px;
    font-weight: 800px;
    color: #0D1321;
    margin-bottom: 24px;
}

.banner-container p{
    font-size: 16px;
    color: #0D1321;
    opacity: 0.7;
    margin-bottom: 32px;
}

.banner-container .banner-contact-btn{
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #0D1321;
    padding: 21px 24px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.banner-container .banner-contact-btn:hover{
    color: #0D1321;
    background-color: #FFF;
    border: 2px solid #0D1321;
    transform: scale(1.02);
}

/* main section styles */

/* why-web-development styles */

.why-web-development-container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto 90px;
    padding: 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.why-web-development-text-container{
    margin-bottom: 48px;
}

.why-web-development-text-container h3{
    font-size: 32px;
    color: #0D1321;
    margin-bottom: 24px;
}

.why-web-development-text-container p{
    font-size: 16px;
    color: #0D1321;
    opacity: 0.7;
}

.why-web-development-card-1, .why-web-development-card-2{
    margin-bottom: 32px;
}

.why-web-development-card-1, .why-web-development-card-2, .why-web-development-card-3{
    border-radius: 16px;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    padding: 48px;
    display: flex;
    gap: 32px;
}

.why-web-development-card-text-container{
    text-align: left;
}

.why-web-development-card-text-container h4{
    color: rgba(13, 19, 33, 0.70);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.why-web-development-card-text-container p{
    color: #0D1321;
    font-size: 16px;
    opacity: 0.7;
    font-weight: 400;
    margin-bottom: 32px;
}

.learn-more-btn{
    display: inline-block;
    text-decoration: none;
    color: #0D1321;
    font-size: 20px;
    padding: 12px 20px;
    font-weight: 600;
    border: 2px solid #0D1321;
    opacity: 0.7;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.learn-more-btn:hover{
    background-color: #0D1321;
    color: #FFFFFF;
    transform: scale(1.02);
}


/* my inspiration section styles */

